<ion-footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="6" sizeLg="3">
        <h4 translate>footer.company</h4>
        <a class="links" href="#about" translate>footer.about</a>
        <a class="links" href="#team" translate>footer.team</a>
        <a class="links" href="/imprint" translate>footer.imprint</a>
      </ion-col>
      <ion-col sizeXs="6" sizeLg="3">
        <h4 translate>footer.resources</h4>
        <a class="links" href="https://fivethree-team.github.io/fivethree/" translate>footer.fivethree-components</a>
      </ion-col>
      <ion-col size="6" sizeXs="12" sizeLg="6" id="social">
        <a href="https://www.github.com/fivethree-team" target="blank">
          <ion-icon slot="icon-only" name="logo-github"></ion-icon>
        </a>
        <a href="https://twitter.com/fivethreeteam" target="blank">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>